# Python Cache
__pycache__/
*.py[cod]

# Mac Systemdateien
.DS_Store

# venv
venv/
.env
.vscode/

# IDK if my test backgrounds are copyright, so: (game works without as well)
assets/background/test_bg_1.png
assets/background/test_bg_2.png