# Python Cache
__pycache__/
*.py[cod]
.pytest_cache

# MacOS Bin
.DS_Store

.ruff_cache
venv/
.venv/
.venv-intel/

# Local env file & editor config
.env
.vscode/

# Unused/local-only assets & notes
assets/background/test_bg_1.png
assets/background/test_bg_2.png
ajhahnde/
.eeco


build/
dist/
*.spec
/.eeco/
